@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Padauk:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(white, rgb(178, 196, 203));
  height: 110vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100%;
}
h1 {
  font-family: "Dancing Script", cursive;
  color: rgb(180, 135, 23);
  margin-bottom: 50px;
  font-size: 45px;
}
.accordian {
  width: 500px;
  background-color: white;
  border-radius: 6px;
  font-family: sans-serif;
  color: rgb(76, 75, 75);
}
.questionDiv {
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 20px 0;
  margin: 0 20px;
}
.close {
  display: none;
}
i {
  color: rgb(180, 135, 23);
  font-size: 22px;
  cursor: pointer;
}
i:hover {
  color: rgb(255, 184, 5);
  transition: 0.2s ease;
}
i:active {
  color: rgb(180, 135, 23);
  transition: 0.2s ease;
}
.answerDiv {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(76, 75, 75);
  padding: 20px 0;
  margin: 0 20px;
  font-size: 14px;
  display: none;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 10vw;
  }
  .accordian {
    width: 80vw;
  }
}