* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signupContainer {
    display: flex;
    width: 75vw;
}
.div1 {
    width: 40%;
}
.div1 img {
    width: 50%;
}
.div2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.signupForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.signupInput {
    height: 40px;
    width: 80%;
    padding-left: 10px;
    display: block;
}
#firstName , #lastName {
    display: inline-block;
    width: 40%;
}