@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Padauk:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Padauk", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdfdfd;
  color: #444444;
  height: 70px;
  padding: 0px 30px;
  box-shadow: 0 1px 8px #40a5f86a;
}
.logo {
  height: 70px;
}
.logo a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 0px 1px 3px gray;
  height: 100%;
  width: 100%;
}
.logo a:hover {
  cursor: pointer;
}
.logoA {
  color: #444444;
}
.logoB {
  color: #40a5f8;
}
.tabs {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #444444;
}
.tabs span {
  margin: 7px;
}
.tabs span:hover {
  color: black;
  cursor: pointer;
  font-size: 19px;
  transition: 0.3s ease;
}
.socialLinks a {
  font-size: 20px;
  margin: 0 4px;
  color: #40a5f8;
}
.socialLinks a:hover {
  color: #0189f8;
}
.bars i {
  font-size: 22px;
  display: none;
}

/* Side Navigation */
.darkDisplay {
  background-color: rgba(0, 0, 0, 0.708);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  transform: translateX(-100vw);
}
.sideNavigation {
  height: 100vh;
  width: 50vw;
  background-color: #fdfdfd;
  position: absolute;
  z-index: 1;
  top: 0px;
  display: none;
  box-shadow: 0 1px 8px #40a5f86a;
}
i:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .tabs {
    display: none;
  }
  .socialLinks a {
    display: none;
  }
  .bars i {
    display: block;
  }
  .bars i:hover {
    color: black;
  }
  .logoNav {
    margin: auto;
    width: auto;
  }
  .logoNav a {
    display: flex;
    justify-content: center;
  }
  .crossIcon i {
    font-size: 25px;
    color: rgb(222, 220, 220);
    position: absolute;
    top: 10px;
    right: -25px;
  }
  .crossIcon i:hover {
    color: white;
  }
  .tabsNav {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabsNav span {
    letter-spacing: 1px;
  }
  .socialNav a {
    display: block;
  }
  .socialNav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    bottom: 0px;
    width: 50%;
  }
}
