@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url("assets/natural_beauty2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 130vh;
  position: relative;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.container {
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mainHeading {
  color: #ffffffbf;
  font-family: "Lobster Two", sans-serif;
  font-size: 3rem;
}
.output {
  background-color: #ffffff50;
  height: 150px;
  width: 42rem;
  text-align: center;
  border-radius: 25px;
  padding: 45px;
  color: #01327a;
  font-family: "Caprasimo", serif;
  font-weight: 100;
  box-shadow: 0 0 3px black;
  margin-bottom: 80px;
}
.searchBar {
  background-color: #ffffff50;
  width: 42rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  margin: 10px 20px;
  box-shadow: 0 0 3px black;
}
input {
  width: 50rem;
  height: 2.2rem;
  margin: 10px 10px 10px 20px;
  border: none;
  border-right: 1px solid rgb(77, 76, 76);
  font-size: 1.2rem;
  padding-left: 10px;
  background-color: transparent;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: rgb(87, 86, 86);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
i {
  font-size: 1.2rem;
  margin: 10px 20px 10px 10px;
}


@media screen and (max-width: 768px){
    .mainHeading {
        font-size: 2.8rem;
    }
    .output {
        width: 32rem;
    }
    .searchBar {
        width: 32rem;
    }
}
@media screen and (max-width: 576px){
    .mainHeading {
        font-size: 2.1rem;
        margin-bottom: 10px;
    }
    .output {
        width: 23rem;
        height: 200px;
    }
    .searchBar {
        width: 23rem;
    }
}