@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Padauk:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-size: 3rem;
  color: yellow;
  font-family: "Dancing Script", cursive;
  text-shadow: 0 0 5px black;
}
.product {
  height: 150px;
  width: 200px;
  background-color: rgba(0, 0, 71, 0.929);
  border-radius: 10px;
  box-shadow: 0 0 15px black;
  position: relative;
}
.product img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px gold);
}
.product button {
  text-align: center;
  color: white;
  font-size: 14px;
  background-color: green;
  box-shadow: 0 0 3px white;
  border: none;
  padding: 3px 5px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.product button:hover {
  background-color: rgb(1, 61, 1);
  cursor: pointer;
}
/* ----------- "Modal" ---------- */
.darkDisplay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.711);
  position: absolute;
  top: 0;
  display: none;
}
.modal {
  background-color: rgb(235, 234, 234);
  box-shadow: 0 0 8px black;
  height: 50%;
  width: 50vw;
  border-radius: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px;
  transform: translateY(-100vh);
  transition: 0.2s ease;
  position: absolute;
  top: 25%;
}
.crossIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
}
.crossIcon i:hover {
  cursor: pointer;
}
.modalProduct {
  width: 30%;
  background-color: #fff;
  box-shadow: 0 0 5px goldenrod;
}
.description {
  width: 70%;
  font-family: sans-serif;
}
.description p {
  font-size: 12px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: goldenrod;
}
.title span {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .modal {
    flex-direction: column;
    width: 75vw;
    height: 75vh;
    top: 12.5%;
  }
  .modalProduct {
    width: 70%;
  }
  .title {
    flex-direction: column;
    font-size: 12px;
  }
}
