* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  text-align: center;
  padding: 30px 100px 0px 100px;
}
.mainHeading {
  color: #205c99;
  margin-bottom: 10px;
}
.para {
  color: #024f9b;
}
section {
  display: flex;
  align-items: center;
  padding: 30px 100px;
}
.image {
  width: 50%;
  height: 500px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.aboutMe {
  width: 50%;
}
.tabs {
  display: flex;
}
.tabs > button {
  height: 40px;
  width: 33.3%;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
}
.historyBtn {
  background: linear-gradient(45deg, #fdc17c, #fd9f34);
}
.visionBtn {
  background: linear-gradient(45deg, #7bb6ff, #3063bf);
}
.goalsBtn {
  background: linear-gradient(45deg, rgb(247, 91, 91), rgb(250, 43, 43));
}

.historyBtn:hover {
  background: linear-gradient(45deg, #fc9928, #fbba6f);
}
.visionBtn:hover {
  background: linear-gradient(45deg, #1d57c2, #67abfe);
}
.goalsBtn:hover {
  background: linear-gradient(45deg, rgb(252, 4, 4), rgb(251, 81, 81));
}

.text {
  background-color: #eff7fd;
  padding: 20px;
}
@media screen and (min-width: 78rem) {
  header,
  section {
    width: 78rem;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 30px 50px 0px 50px;
  }
  .image {
    width: 60%;
    height: auto; 
  }

  img {
    height: auto;
    object-fit: cover;
  }

  section {
    padding: 0;
    flex-direction: column;
  }

  .aboutMe {
    width: 70%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 30px 50px 0px 50px;
  }
  .image {
    width: 80%;
    height: auto;
  }

  img {
    height: auto;
    object-fit: cover;
  }

  section {
    padding: 0;
    flex-direction: column;
  }

  .aboutMe {
    width: 80%;
    margin-bottom: 30px;
  }
}
