@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Momo+Trust+Display&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Padauk:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(252, 151, 151), rgb(168, 168, 252));
}
.container {
  height: 100vh;
  width: 100vw;
  padding: 50px;
}
.roundsDiv {
  width: 230px;
  margin: auto;
  display: none;
}
.rounds {
  width: 230px;
  padding: 9px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  font-family: "Momo Trust Display", sans-serif;
}
.border {
  background-color: green;
  height: 5px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  animation: abc 2s linear 0.1s forwards;
}
.roundPop-up i {
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer;
}
.counterApp {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.heading {
  color: blue;
  font-family: sans-serif;
}
.display {
  color: red;
}
button {
  margin: 0 10px;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#btn1 {
  background-color: rgb(157, 3, 3);
}
#btn1:active {
  background-color: red;
}
#btn2 {
  background-color: rgb(4, 4, 134);
}
#btn2:active {
  background-color: blue;
}
#btn3 {
  background-color: #014201;
}
#btn3:active {
  background-color: green;
}